/* stylesheet for Rogue Pickings */

/*  -------- Color Pallette ------------

#83AB74: light green | used for paragraphs, brand name, and nav
#424242: dark gray | used for most paragraphs and brand name

*/

/* -------- Google Fonts ---------------------

Montserrat:  sans-serif font | used for brand name, headings, paragraphs, and nav
Oleo Script: script font | used for text emphasis

*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script');

/*---------- Table of Contents----------

- Base Styles
- Grid
- Sections
    - Header
    - Welcome
		- Specials
    - Reviews
		- Contact
    - Footer

*/


/***** BASE STYLES *****/
body {
    font-family: 'Montserrat', sans-serif;
}



/***** GRID *****/

.full-width {
    width: 1245px;
    margin: 0 auto; /* vert - horiz */
}

.half-width {
    width: 622.5px;
    float: left;
}

.third-width {
    width: 415px;
    float: left;
}

/***** SECTIONS *****/


/* Header */

header {
	background: url('../img/hero-image.jpg');
	background-position: top;
	background-size: cover;
	height: 450px;
}

h1  {
	font-weight: bold;
	padding-top: 45px;
	text-transform: uppercase;
}

#brand-first-word {
	color: #424242;
}

#brand-second-word {
	color: #83AB74;
}

#nav-bar {
	background-color: #FFFFFF;
	height: 150px;
  padding-left: 115px;
  width: 100%;
}
nav {
    float: right;
		padding: 50px 25px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
		color: #83AB74;
		font-size: 14px;
		padding-left: 20px;
		text-decoration: none;
    text-transform: uppercase;
}

/* Welcome */

#welcome {
	height: 180px;
}


/* Specials */
#specials,
#reviews,
#contact {
	height: 215px;
}


/* Reviews */




/* Contact */


/* Footer */
footer {
	clear: both;
	padding: 50px 25px;
	text-align: center;
}

footer p {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

footer span {
	color: #83AB74;
	font-family: 'Oleo Script';
	font-size: 26px;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
}
