/* stylesheet for Rogue Pickings */

/*  -------- Color Pallette ------------

#83AB74: light green | used for paragraphs, brand name, and nav
#4D5359: dark gray | used for most paragraphs and brand name
#CCCCCC: light gray | used for paragraph borders

*/

/* -------- Google Fonts ---------------------

Montserrat:  sans-serif font | used for brand name, headings, paragraphs, and nav
Oleo Script: script font | used for text emphasis

*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script');

/*---------- Table of Contents----------

- Base Styles
- Grid
- Sections
    - Header
    - Welcome
		- Specials
    - Reviews
		- Contact
    - Footer

*/


/***** BASE STYLES *****/
body {
    color: #4D5359;
    font-family: 'Montserrat', sans-serif;
}


/***** GRID *****/

.full-width {
    width: 1290px;
    margin: 0 auto; /* vert - horiz */
}

.half-width {
    width: 645px;
    float: left;
}

.third-width {
    width: 430px;
    float: left;
}

/***** SECTIONS *****/


/* Header */

header {
	background: url('../img/hero-image.jpg');
	background-position: top;
	background-size: cover;
	height: 450px;
}

h1  {
	font-weight: bold;
	padding-top: 45px;
	text-transform: uppercase;
}

#brand-first-word {
	color: #4D5359;
}

#brand-second-word {
	color: #83AB74;
}

#nav-bar {
	background-color: #FFFFFF;
	height: 150px;
  padding-left: 115px;
  width: 100%;
}
nav {
    float: right;
		padding: 50px 25px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
		color: #83AB74;
		font-size: 15px;
		padding-left: 20px;
		text-decoration: none;
    text-transform: uppercase;
}

/* Welcome */

#welcome {
	border-bottom: 0.5px solid #CCC;
	height: 180px;
  padding: 30px;
}

#welcome h2 {
	color: #83AB74;
	text-transform: uppercase;
}

#welcome p,
#reviews p,
#contact p {
	font-size: 18px;
}

/* Specials */

#specials {
	padding: 30px 0px 30px 30px;
}

#specials ul {
  padding-left: 0;
}

#specials ul li {
	color: #83AB74;
  font-size: 18px;
	list-style: none;
  padding-bottom: 15px;
}

#specials,
#reviews,
#contact {
  border-bottom: 0.5px solid #CCC;
	height: 215px;
}

#specials,
#reviews {
	border-right: 0.5px solid #CCC;
}

#specials h3,
#reviews h3,
#contact h3 {
	color: #83AB74;
	text-transform: uppercase;
}

/* Reviews */
#reviews
{
	padding: 30px;
}




/* Contact */

#contact {
	padding: 30px 0 30px 30px;
}

/* Footer */
footer {
	clear: both;
	padding: 50px 25px;
	text-align: center;
}

footer p {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

footer span {
	color: #83AB74;
	font-family: 'Oleo Script';
	font-size: 26px;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
}
